.layout {
    display: grid;
    grid-template-areas: 'topRow topRow topRow' '. . .' 'bottomRow bottomRow bottomRow';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 98%;
    margin: auto;
    background-color: #02500F;
    padding: 20px;
    
  }
  
  .timeline {
    grid-area: topRow;
    align-items: center;
    background-color: lightgray;
    color: #671113;
    width: 100%; 
  }
  
  #how {
    background-color: lightgray;
    color: #671113;
    font-size: 22px;
  }
  
  .title {
    grid-area: bottomRow;
    background-color: lightgrey;
    width: 100%; 
    padding: 3vh;

  }
  

  .textBox {
    border: solid 2px #671113;
    border-radius: 10px;
    padding: 5px;
  }

  h1{
    font-size: 32px;
    color: #671113;

  }

  h2{

    font-size: 22px;
    color: white;
    padding: 0%;
  }

  img{
    padding: 0%;
  }

  * {
    box-sizing: border-box;
  
  }
  
  
  .layout > div {
    border: solid 3px #671113;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 3px black;
    padding: 3vh;

  }

  
  


  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #02500F;
    margin: 0px;
    overflow: hidden;
    
  }
  
  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 40px;
    width: 100%;
    padding: 3vh;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: center;
        align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 0;
  }
  
  input {
    width: 25px;
    height: 25px;
    background-color: #02500F;
    position: relative;
    border-radius: 50%;
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  input:focus {
    outline: none;
  }
  input::before, input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #02500F;
    width: 9vw;
    height: 5px;
    max-width: 500px;
  }
  input::before {
    left: 25px;
  }
  input::after {
    right: 25px;
  }
  input:checked {
    background-color: #02500F;
  }
  input:checked::before {
    background-color: #02500F;
  }
  input:checked::after {
    background-color: #671113;
  }
  input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
    background-color: #671113;
  }
  input:checked + .dot-info span {
    font-size: 13px;
    font-weight: bold;
  }
  
  .dot-info {
    width: 100px;
    height: 25px;
    display: block;
    visibility: hidden;
    position: relative;
    z-index: -1;
    left: 25px;
  }
  .dot-info span {
    visibility: visible;
    position: absolute;
    font-size: 12px;
  }
  .dot-info span.date {
    bottom: -30px;
    left: 15px;

  }
  .dot-info span.label {
    top: -40px;
    left: 15px;
    transform: rotateZ(-45deg);
    width: 70px;
    text-indent: -10px;
  }
  
  #timeline-descriptions-wrapper {
    margin-top: 45px;
    width: 100%;
    font-size: 15px;
  }
  #timeline-descriptions-wrapper p {
    margin-top: 0;
    display: none;
  }
  
  input[data-description="date1"]:checked ~ #timeline-descriptions-wrapper p[data-description="date1"] {
    display: block;
  }
  
  input[data-description="date2"]:checked ~ #timeline-descriptions-wrapper p[data-description="date2"] {
    display: block;
  }
  
  input[data-description="date3"]:checked ~ #timeline-descriptions-wrapper p[data-description="date3"] {
    display: block;
  }
  
  input[data-description="date4"]:checked ~ #timeline-descriptions-wrapper p[data-description="date4"] {
    display: block;
  }
  
  input[data-description="date5"]:checked ~ #timeline-descriptions-wrapper p[data-description="date5"] {
    display: block;
  }
  
  input[data-description="date6"]:checked ~ #timeline-descriptions-wrapper p[data-description="date6"] {
    display: block;
  }
  
  input[data-description="date7"]:checked ~ #timeline-descriptions-wrapper p[data-description="date7"] {
    display: block;
  }
  
  input[data-description="date8"]:checked ~ #timeline-descriptions-wrapper p[data-description="date8"] {
    display: block;
  }
  
  input[data-description="date9"]:checked ~ #timeline-descriptions-wrapper p[data-description="date9"] {
    display: block;
  }
  
  input[data-description="date10"]:checked ~ #timeline-descriptions-wrapper p[data-description="date10"] {
    display: block;
  }
  
  @media (min-width: 1250px) {

    input::before {
      left: -37.5px;
    }
    input::after {
      right: -37.5px;
    }
  
    .dot-info {
      left: calc((((1000px - 25px) / 20) * -1) - 1px);
    }
  
    #timeline-descriptions-wrapper {
      margin-left: -37.5px;
    }
  }
  @media (max-width: 630px) {
    .flex-parent {
      justify-content: initial;
    }
  
    .input-flex-container {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      margin-top: 15vh;
      margin-left: 0;
      padding-bottom: 30px;
      
    }
  
    input, .dot-info {
      width: 60px;
      height: 60px;
      margin: 0 10px 50px;
    }
  
    input {
      background-color: transparent !important;
      z-index: 1;
    }
    input::before, input::after {
      content: none;
    }
    input:checked + .dot-info {
      background-color: #2C3E50;
    }
    input:checked + .dot-info span.date {
      font-size: 14px;
    }
    input:checked + .dot-info span.label {
      font-size: 12px;
    }
  
    .dot-info {
      visibility: visible;
      border-radius: 50%;
      z-index: 0;
      left: 0;
      margin-left: -70px;
      background-color: #671113;
    }
    .dot-info span.date {
      top: 0;
      left: 0;  
      transform: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dot-info span.label {
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      text-indent: 0;
      text-align: center;
    }
  
    #timeline-descriptions-wrapper {
      margin-top: 30px;
      margin-left: 0;
      text-align: center;
    }
  }
  @media (max-width: 480px) {
    .input-flex-container {
      width: 340px;
    }
  }
  @media (max-width: 400px) {
    .input-flex-container {
      width: 300px;
    }
  }